.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(/src/pictures/Icon-Phone-call.png);
  margin-right: 48px;
}

.icon--burger-menu {
  background-image: url(/src/pictures/Icon-Burger-menu.png);
}

.icon--close {
  background-image: url(/src/pictures/Icon-Close.png);
}
